@page "/"

<PageTitle>Index</PageTitle>

<h1>Antenna Calculator V.3.2.00</h1>

Copyright N.Booth, M0CVO for Mogpie Software 2022.

<br /><br />

<img src="\images\Dipole.png" /><br />
<p><img src="\images\Dipole2.png" /></p>
